h1 {
  color: blue;
  text align: center;
}

p {
  font family: Georgia;
}

p.intro {
  width: 50%;
  font-style: italic;
  color: green;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
  color: purple;
}

p.important {
  color: red;
}
